# Hamoye Internship - Stage A (Data Engineering)

# Yaman Dahiya
# ID: 18998c116cc1f000

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin1')
df.head(15)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73
10,4,Algeria,2941,Animal Products,684,Fat supply quantity (g/capita/day),g/capita/day,26.22,24.64,25.37,24.60,22.71
11,4,Algeria,2905,Cereals - Excluding Beer,5511,Production,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
12,4,Algeria,2905,Cereals - Excluding Beer,5611,Import Quantity,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
13,4,Algeria,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
14,4,Algeria,2905,Cereals - Excluding Beer,5911,Export Quantity,1000 tonnes,3.00,7.00,7.00,10.00,17.00

Q1.Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [3]:
selected_data = df[['Area', 'Y2017']]
grouped_data = selected_data.groupby('Area').sum()
sums_2017 = grouped_data['Y2017'].sort_values()
seventh_lowest_area = sums_2017.index[6] 
seventh_lowest_sum = sums_2017.iloc[6]
print("The 7th lowest area in 2017:", seventh_lowest_area)
print("With a sum of:", seventh_lowest_sum)

The 7th lowest area in 2017: Guinea-Bissau
With a sum of: 19102.77

Q2.Perform a groupby operation on ‘Element’. What year has the highest sum of Stock Variation?

In [4]:
grouped_data = df.groupby('Element').sum()
max_year = grouped_data.loc['Stock Variation', ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].idxmax()
print("The year with the highest Stock Variation: ",max_year)

The year with the highest Stock Variation:  Y2014

C:\Users\shubh\AppData\Local\Temp\ipykernel_20088\1904533986.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_data = df.groupby('Element').sum()

Q3.If you have the following list
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = [‘Age’,’Nationality’,’Overall’]
How do you create a pandas DataFrame using this list, to look like the table below?

In [5]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30, 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']
df1 = pd.DataFrame(lst, columns=col, index=[1,2,3])
df1

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

Q4.What is the total Protein supply quantity in Madagascar in 2015?

In [6]:
madagascar = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]
protein_2015 = madagascar['Y2015'].sum()
protein_2015 = round(protein_2015, 2)
print("Total Protein Supply Quantity in Madagascar in 2015:", protein_2015)

Total Protein Supply Quantity in Madagascar in 2015: 173.05

Q5.Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [7]:
grouped_data = df.groupby('Element').sum()
total_2017 = grouped_data.loc['Processing', 'Y2017'] 
print("Total number of the sum of Processing in 2017 is:", total_2017)

Total number of the sum of Processing in 2017 is: 292836.0

C:\Users\shubh\AppData\Local\Temp\ipykernel_20088\2339536280.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_data = df.groupby('Element').sum()

Q6.Which of the following is a python inbuilt module?
Math

Q7.Which of the following dataframe methods can be used to access elements across rows and columns?
df.iloc( )
df.loc( )

Q8.Consider the following list of tuples:
y = [(2, 4), (7, 8), (1, 5, 9)]
How would you assign element 8 from the list to a variable x?

In [8]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

Q9.Answer the following questions based on the African food production dataset provided by the FAO website already provided
What is the total sum of Wine produced in 2015 and 2018 respectively?
Hint:
Perform a groupby sum aggregation on ‘Item’

In [9]:
item = df.groupby('Item').sum()
total_2015 = item.loc['Wine', 'Y2015']
total_2018 = item.loc['Wine', 'Y2018']
print("Total Wine produced in 2015 is: ", total_2015)
print("Total Wine produced in 2018 is: ", total_2018)

Total Wine produced in 2015 is:  4251.81
Total Wine produced in 2018 is:  4039.32

C:\Users\shubh\AppData\Local\Temp\ipykernel_20088\358837859.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  item = df.groupby('Item').sum()

Q10.What would be the output for?
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]
Ans. 'e'

Q11.What is the total number of unique countries in the dataset?

In [10]:
unique_count = df['Area'].nunique()
print("Total number of unique countries are: ",unique_count)

Total number of unique countries are:  49

Q12.What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [11]:
mean = df['Y2017'].mean()
std_dev = df['Y2017'].std()
print(f"Mean for 2017: {mean:.2f}")
print(f"Standard Deviation for 2017: {std_dev:.2f}")

Mean for 2017: 140.92
Standard Deviation for 2017: 1671.86

Q13.How would you check for the number of rows and columns in a pandas DataFrame named df?
df.shape

Q14.A pandas Dataframe with dimensions (100,3) has how many features and observations?
100 rows and 3 observations

Q15.Given the following python code, what would the output of the code give?
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

In [12]:
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

Q16.What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [13]:
missing_2014 = df['Y2014'].isnull().sum()
total_entries = len(df['Y2014'])
percentage_missing_2014 = (missing_2014 / total_entries) * 100
print("Total number of missing data in 2014 is: ", missing_2014)
print("Percentage of missing data in 2014 is: {:.3f}%".format(percentage_missing_2014))

Total number of missing data in 2014 is:  1589
Percentage of missing data in 2014 is: 2.607%

Q17.Which year had the least correlation with ‘Element Code’?

In [14]:
correlation = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()['Element Code']
least_year = correlation[1:].idxmin() 
print("Least Correlation Year: ", least_year)
print("Correlations: ", correlation)

Least Correlation Year:  Y2016
Correlations:  Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

Q18.Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [15]:
selected_data = df[['Area', 'Y2017']]
groupby_area = selected_data.groupby('Area').sum()
highest_area = groupby_area['Y2017'].idxmax()
highest_sum = groupby_area['Y2017'].max()
print("Area with the highest sum in 2017:", highest_area)
print("Highest sum in 2017:", highest_sum)

Area with the highest sum in 2017: Nigeria
Highest sum in 2017: 1483268.23

Q19.Which of these python data structures is unorderly?
Set

Q20.Given the following numpy array 
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

How would you select  the elements in bold and italics from the array?

In [16]:
array = np.array([[94, 89, 63],
                  [93, 92, 48],
                  [92, 94, 56]])
elements = array[ : 2, 1 : ]
print(elements)

[[89 63]
 [92 48]]